%section#summary{style: "margin-top: 15vh;"}
  .section-content
    .container
      .row
        .col-sm-12
          .text-center
            = image_tag('AD Logo 1.gif', id: 'main_logo_image', style: 'margin-left: auto; margin-right: auto;' )
      %br
      .row
        .col-xs-12.col-centered
          %hr
          %h1.text-center SOFTWARE SOLUTIONS
      %br
      %br
      %br
        .col-xs-12.col-sm-12.col-md-8.col-centered
          .text-center
            %h4 We build <em>responsive</em> business-centric applications using modern open-source web development techniques.

%section#contact
  .section-content
    .row
      .col-sm-12.col-md-6.col-lg-5.col-centered.jumbotron
        %h1.text-center.upcase Let's Talk.
        %p.lead.text-center Every project is unique. We keep it simple, and get the job done.
        %br
        = form_for contact_path, method: 'post' do |f|
          .form-group
            %label.control-label{:for => "Name"} Name
            = f.text_field :name, class: 'form-control'
          .form-group
            %label{:for => "email"} Email
            = f.email_field :email, class: 'form-control'
          .form-group
            %label{:for => "Message"} Message
            = f.text_area :message, class: 'form-control'
          .text-center
            = f.hidden_field :spam_check, value: 'spam_check'
            = f.submit 'Send', class: 'btn btn-success btn-lg'
    .text-center
      %a.nav-link{href: new_user_session_path}
        %i.fa.fa-sign-in
        Clients
