%nav.navbar.fixed-top.navbar-toggleable-md.navbar-light.bg-inverse
  .navbar-header
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %a.navbar-brand
      %a{href: root_path, id: 'logo'} 
        = image_tag('AD Logo 1.gif')
  .navbarnav.ml-auto
    %ul.navbar-nav  
      %li.nav-item.h4
        = link_to 'Team', '#team', class: 'nav-link'
      %li.nav-item.h4
        = link_to 'Portfolio', '#portfoliolink', class: 'nav-link'
      %li.nav-item.h4           
        = link_to 'Expertise', '#expertiselink', class: 'nav-link'
      %li.nav-item.h4
        = link_to 'Contact', '#contactlink', class: 'nav-link'
      %ul.navbar-nav.ml-auto
        - if current_user.present?
          %li.nav-item.h4
            %a.nav-link{href: dashboard_path}
              %i.fa.fa-dashboard
                Dashboard
            %li.nav-item.h4  
              %a.nav-link{href: destroy_user_session_path, method: :delete}
                %i.fa.fa-sign-out
                Sign Out
        - else
          %li.nav-item.h4
            %a.nav-link{href: new_user_session_path}
              %i.fa.fa-sign-in
              Sign In
