%header.header
  %nav.navbar.navbar-toggleable-md.navbar-light.bg-inverse
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    .container
      %a.navbar-brand{href: root_path, id: 'logo'} 
        = image_tag('AD Logo 1.gif')
      .navbar-collapse.collapse
        %ul.navbar-nav
          %li
            = link_to 'Team', '#team', class: 'nav-link'
          %li
            = link_to 'Portfolio', '#portfoliolink', class: 'nav-link'
          %li
            = link_to 'Expertise', '#expertiselink', class: 'nav-link'
          %li
            = link_to 'Contact', '#contactlink', class: 'nav-link'
      #navbarNavDropdown.navbar-collapse.collapse
        %ul.navbar-nav.ml-auto
          - if current_user.present?
            %li.nav-item
              %a.nav-link{href: dashboard_path}
                %i.fa.fa-dashboard
                Dashboard
            %li.nav-item
              %a.nav-link{href: destroy_user_session_path, method: :delete}
                %i.fa.fa-sign-out
                Sign Out
          - else
            %li.nav-item
              %a.nav-link{href: new_user_session_path}
                %i.fa.fa-sign-in
                Sign In
